;; THIS FILE IS AUTOMATICALLY MAINTAINED!
;; PLEASE EDIT VERY CAREFULLY.
;; Syntax errors may cause loss of data.

[["https://api.github.com/repos/humeji/autogen_ssl-certs-for-local-development"
  nil]]
